.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
/.swiftpm
Package.resolved
Brewfile.lock.json
Examples/CreateReadWrite/.swiftpm
Examples/CreateReadWrite/.build
Examples/CreateReadWrite/.vscode
.vscode/
Examples/CreateReadWrite/output.a
